@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* In an atttempt to write Mobile first */

/* general styles */

html {
  color-scheme: dark;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25rem;
  background: hsl(238, 100%, 6%);
  color: #f5f5f5; 
}

table {
    width: 100%;
    max-width: 600px;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #f8f8f2;
}

img{
  display: block;
  max-width: min(100%,100vw);
}

p {
  text-align: justify;
}



.button {
  font: inherit;
  font-style: italic;
  text-transform: uppercase;
  background: hsl(279, 75%, 59%);
  padding: 1em 2em;
  border: 0;
  border-radius: 0.125em;
  width: 100%; 
  margin: 64px 0; 
}

.button:hover{
  box-shadow: -4px -4px hsla(347, 86%, 43%, .5), 4px 4px hsla(179, 97%, 52%, .5);
}
.primary-header {
  padding-block: 2rem;
  height: fit-content;
}

.primary-header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 9999; 
}

.primary-nav ul {
  flex: 1;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.primary-nav a {
  color: white;
  font-weight: 700;
  text-decoration: none;
}

.logo {
  max-width: 100px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    inset: -3rem;
    z-index: -1;
    background: radial-gradient(hsl(0 0% 100% / 0.5), transparent 70%);
  }
}

.main-content {
  position: relative;
  /* z-index: 1; */
  
  padding-block: 2rem;
  width: 100vw;
}

.hero {
  margin-block-start: 10vh; 
  /* padding-top: 10vh;  */
  height: fit-content;
}

.hero-title {
  font-size: 2rem;
  max-width: 10ch;
  line-height: 1;
  font-style: italic;
  font-weight: 900;
  position: relative;

  > span {
    font-style: normal;
    font-size: 0.5em;
    display: block;
  }

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background: black;
    z-index: -1;
    scale: 2;
    opacity: 0.5;
    filter: blur(5rem);
    translate: -50%;
  }
}


.resume-button {
  text-align: center;
  margin-top: 20px;
}

.resume-link {
  display: inline-block;
  background-color: hsl(279, 75%, 59%); /* Match the button background color */
  color: white; /* Match the button text color */
  padding: 10px 20px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  border-radius: 0.125em; /* Match the button border radius */
}

.resume-link:hover {
  transform: scale(1.1);
  background-color: hsl(279, 75%, 40%); /* Adjust the hover background color */
  /* You can also adjust the color for hover state if needed */
}


.wrapper {
  width: min(65rem, 100% - 4rem);
  margin-inline: auto;
}

/* Parallax Styling */

.parallax {
  position: relative;
  z-index: 0;
  min-height: 20vh;
  display: grid;
  grid-template-areas: "stack";
}

.parallax > * {
  grid-area: stack;
  animation: parallax ease-in-out;
  animation-timeline: scroll();
  width: 100vw;
}

.primary-header,
.hero {
  --parallax-speed: -500;
  z-index: 10;
}

.parallax__bg {
  --parallax-speed: -1;

  z-index: 1;
  min-height: 100%;
  width: 100%;
  object-fit: cover;
}

.parallax__dust {
  --parallax-speed: -2;
  z-index: 2;
}

.parallax__luna {
  --parallax-speed: -3;
  z-index: 3;
}

.parallax__rays {
  --parallax-speed: -6;
  z-index: 3;
}

.parallax__manny {
  --parallax-speed: -8;
  z-index: 4;
}

.parallax__jax {
  --parallax-speed: -12;
  z-index: 5;
}

.parallax__foreground-front,
.parallax__foreground-back {
  z-index: 999;
  align-self: end;
  width: 100vw;
}

.parallax__foreground-back {
  transform: scaleY(1.2);
  transform-origin: bottom;
  mix-blend-mode: hard-light;
}

@keyframes parallax {
  to {
    transform: 
      translateY(calc(var(--parallax-speed) * 200px));
  }
}

@media only screen and (min-width: 768px)
{
  .hero-title{
    font-size: 6rem;
  }
  .hero{
    margin-block-start: max(20vh, 8rem);
  }
  .parallax{
    min-height: 50vh;
  }
  .main-content{
    width: 80vw;
    margin: 0 auto;
    padding-block: 6rem;
  }
  .button{
    width: fit-content;
    margin: 32px 0; 
  }
}